{% extends 'base.html.twig' %}

{% block title %}Éditer produit {% endblock %}

{% block body %}
<h1>Éditer un produit</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% include "produits/delete.html.twig" %}

{% endblock %}