{# filepath: c:\wamp64\www\my_test\templates\lucky\number.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Lucky Number</title>
</head>
<body>
    <h3>{{ nom }} {{ prenom }}</h3>
</body>
</html>