{# filepath: c:\wamp64\www\my_test\templates\lucky\number.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Lucky Number</title>
</head>
<body>
    <h1>Numéro chanceux : {{ number }}</h1>
    <p>Valeur de toto : {{ toto }}</p>
</body>
</html>